*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Chivo", sans-serif;
}

body,
ul,
li,
a,
h1,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
