.font-title {
  font:
    300 3.25rem/1.2 "Chivo",
    sans-serif;
}

.font-body {
  font:
    300 1.125rem/1.5 "Chivo",
    sans-serif;
}

@media (max-width: 1000px) {
  .font-title {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .font-title {
    font-size: 1.625rem;
  }
}